{
  "arrowParens": "always",
  "printWidth": 80,
  "singleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^node:",
    "^@?\\w",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/",
    "^[../]",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderTypeScriptVersion": "4.4.0"
}
