* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.header {
  width: 100%; 
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.logoFing {
  padding-right: 10px;
  width: 27px;
  height: 27px;
}

.iconContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.leftContainer {
  display: flex;
}

.iconsHeader {
  height: 20px; 
  width: 20px; 
  cursor: pointer; 
}

.iconLabel {
  font-size: 15px;
}

.iconButton {
  cursor: pointer; 
  display: flex;
  gap: 10px;
}

.sidebar {
  width: 60px;
  background-color: var(--color-primary);
  color: white;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.topContainerSidebar {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoSidebar {
  width: 20px;
  height: 20px;
  cursor: pointer; 
}