.sidebar {
  width: 60px;
  background-color: var(--color-primary);
  color: white;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.topContainerSidebar {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoSidebar {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
