.header {
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.logoFing {
  padding-right: 10px;
  width: 27px;
  height: 27px;
}

.iconContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.leftContainer {
  display: flex;
}

.iconsHeader {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.iconLabel {
  font-size: 15px;
}

.iconButton {
  cursor: pointer;
  display: flex;
  gap: 10px;
}
